In [122]:
data = [['Ivan', 25, 4, 50, 1], 
        ['Petr', 40, 9, 250, 8], 
        ['Nikolay', 19, 12, 25, 1], 
        ['Sergey', 33, 6, 115, 6],
        ['Andrey', 38, 2, 152, 4],
        ['Ilya', 20, 18, 15, 2],
        ['Igor', 19, 2, 10, 1]]
import pandas as pd
_df = pd.DataFrame(data, columns=['name', 'age', 'clicks', 'balance', 'history'], index=list('abcdefg'))

In [126]:
_df.where(_df.balance > 100, _df.balance = 0, inplace=True)
#mask = _df[_df['balance'] < 100]
#df.balance = 0
#mask = _df.balance < 100
#df = _df.where(cond=_df.balance < 100, 0, _df.balance)

SyntaxError: ignored

In [117]:
_df(mask).balance = 0

TypeError: ignored